/* Default Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.red {
    color: #F00;
}

section {
    margin-bottom: 120px;
}

.section-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 20px;
    line-height: 30px;
}

.white-btn {
    background-color: #fff;
    color: #18181a;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: 0.3s all;
}

.white-btn:hover {
    background-color: #18181a;
    color: #fff;
}

.red-btn {
    background-color: #f00;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: 0.3s all;
}


.red-btn:hover {
    background-color: rgb(226, 5, 5);
}

.section-sub-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

/* common styles */
.container {
    width: 82%;
    max-width: 1440px;
    margin: 0 auto;
}

/* header and banner related styles */
header {
    margin-top: 50px;
    margin-bottom: 120px;
}

.banner {
    padding: 177px 0;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../assets/banner-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    border-radius: 16px;
}

.banner-content {
    width: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    margin-bottom: 16px;
}

.banner-content h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 78px;
}

/* categories styles */
.categories {
    width: 680px;
    margin: 120px auto;
    text-align: center;
}

.categories-content h1 {
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}


.categories-content h2 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.categories-content img {
    width: 100%;
}

/* midnight-party section styles */
.midnight-party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assets/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    padding: 126px 126px 126px 160px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.midnight-party-content {
    width: 700px;
}

.midnight-party-content h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 52px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.midnight-party-content p {
    margin-bottom: 18px;
}

.midnight-party-image img {
    width: 100%;
}

/* destination section styles */
.destination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 110px 0;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.destination-content h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.destination-content button {
    margin-top: 48px;
}

/* best deals section styles */
.best-deals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 70px;
}

.best-deals .section-sub-title{
    margin-bottom: 16px
}
.best-deals .section-title{
    margin-bottom: 22px
}

.best-deals .section-description {
    color: rgba(7, 2, 17, 0.60)
}

.best-deals-image img {
    width: 100%;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 40px;
}

.coming-soon-another .section-title {
    font-family: "Inter";
}
.coming-soon-another .section-description {
    margin-bottom: 40px;
}

/* Holidays Sale section styles */
.section-heading{
    width: 870px;
    margin: 0 auto;
    text-align: center;
}

.section-heading .section-sub-title{
    margin-bottom: 16px;
}
.section-heading .section-title{
   font-size: 60px;
   margin-bottom: 28px;
   & .red{
    font-family: Merriweather;
   }
}

.section-heading .section-description{
    color: rgba(7, 2, 17, 0.60);
    margin-bottom: 64px;
}